html,
body,
div,
form,
ul,
li,
label {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
p,
a,
li,
label,
caption {
  font-family: 'Ubuntu', Serif;
  margin: 0;
}

img {
  border: 0;
}
